@import "tailwindcss";

@theme {
  --color-pirate-ocean: #07111F;
  --color-pirate-navy: #0D1B2A;
  --color-pirate-parchment: #D8B982;
  --color-pirate-burnt: #8B5E34;
  --color-pirate-gold: #D4AF37;
  --color-pirate-blood: #7A1F1F;
  --color-pirate-bone: #E8DFC8;

  --font-sans: "Inter", sans-serif;
  --font-pirate: "Cinzel Decorative", serif;
}

@layer base {
  body {
    background-color: var(--color-pirate-ocean);
    color: var(--color-pirate-bone);
    font-family: var(--font-sans);
    background-image: radial-gradient(circle at top, var(--color-pirate-navy) 0%, var(--color-pirate-ocean) 100%);
    min-height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}



